mysqlclient-1.4.6-cp38-cp38-win32.whl
.idea/
WsbPaperTraderEnv/
ApiService/scripts/activate

Ui/.DS_Store
Ui/node_modules
Ui/dist
Ui/.env.local
Ui/.env.*.local
Ui/npm-debug.log*
Ui/yarn-debug.log*
Ui/yarn-error.log*
Ui/pnpm-debug.log*
Ui/.idea
Ui/.vscode
Ui/*.suo
Ui/*.ntvs*
Ui/*.njsproj
Ui/*.sln
Ui/*.sw?
Ui/package-lock.json
Ui/.idea
Ui/src/assets
Ui/.gitignore
Ui/public/favicon.ico
